.skill-container {
    padding: 60px 30px 60px 30px;
    background: linear-gradient(178.48deg, #2A3C58 1.29%, rgba(255, 255, 255, 0) 262.13%), #C4C4C4;
}

.skills {
    flex-wrap: wrap;
    justify-content: space-around;
    color: rgba(2, 20, 48, 0.65);
}

.skills h2 {
    color: #021430;
    font-size: 23px;
}

.skill-head {
    text-align: center;
    color: #021430;
    font-size: 32px;
}

.images {
    flex-wrap: wrap;
}

.images img {
    height: 64px;
    width: 64px;
}

.images img:hover{ 
    transform: translateY(-3px) scale(1.1);
}