.skill-container {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, #2A3C58 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
}

.skill-content {
    padding: 20px 50px 20px 50px;
}

.skills {
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-head {
    text-align: center;
}