.education-container {
    padding: 60px 30px 60px 30px;
    background: linear-gradient(178.48deg, #2A3C58 1.29%, rgba(255, 255, 255, 0) 262.13%), #C4C4C4;
}

.education-content {
    padding: 60px 30px 60px 25px;
    background: linear-gradient(178.48deg, #2A3C58 1.29%, rgba(255, 255, 255, 0) 262.13%), #C4C4C4;
}


.space-around {
    display: flex;
    justify-content: space-between;
  }

.space-around h1 {
    color: #021430;
    font-size: 23px;
}

.space-around h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
}

.field {
    font-size: 18px;
    color: rgba(2, 20, 48, 0.65);
}

.clz {
    font-size: 18px;
    color: rgba(2, 20, 48, 0.4);
}

