* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-1{
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}


.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start{
  justify-content: flex-start;
}

.flex-end{
  justify-content: flex-end;
}

.mt-10{
  margin-top: 15px;
}

.animate:hover{ 
  transform: translateY(-3px) scale(1.1);
}





