.experiences-container {
    padding: 60px 30px 60px 30px;
    background: linear-gradient(178.48deg, #2A3C58 1.29%, rgba(255, 255, 255, 0) 262.13%), #C4C4C4;
}

.experiences-container ul {
    padding: 30px;
}

.experiences-container ul li {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #021430;
    font-size: 23px;
}


